
  .hreftext{
    width:30%;
    font-family:'黑体-简','微软雅黑';
    color:#FFD700;
  }


.contentCard::-webkit-scrollbar {
    width: 10px;   
    height: 1px;
}
.contentCard::-webkit-scrollbar-thumb {
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.contentCard::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

