@-moz-keyframes downMove {
    0% {padding-top:10px;}
    100% {padding-top:30px;}
  }
  @-webkit-keyframes downMove {
    0% {padding-top:10px;}
    100% {padding-top:30px;}
  }
  @-o-keyframes downMove {
    0% {padding-top:10px;}
    100% {padding-top:30px;}
  }
  @keyframes downMove {
    0% {padding-top:10px;}
    100% {padding-top:30px;}
  }

  @-moz-keyframes upMove {
    100% {padding-top:10px;}
    0% {padding-top:30px;}
  }
  @-webkit-keyframes upMove {
    100% {padding-top:10px;}
    0% {padding-top:30px;}
  }
  @-o-keyframes upMove {
    100% {padding-top:10px;}
    0% {padding-top:30px;}
  }
  @keyframes upMove {
    100% {padding-top:10px;}
    0% {padding-top:30px;}
  }







  #down {
    text-align: center;
    height: 120px;
    width: 120px;
  
    cursor: pointer;

 

   
  }

  #downcanvas{
    -moz-animation: downMove 1s linear infinite alternate; 
    -webkit-animation: downMove 1s linear infinite alternate;
    -o-animation: downMove 1s linear infinite alternate;
    animation: downMove 1s linear infinite alternate;
  }

  
  
  #up {
    text-align: center;
    height: 100px;
    width: 120px;
    -moz-animation: upMove 1s linear infinite alternate; 
    -webkit-animation: upMove 1s linear infinite alternate;
    -o-animation: upMove 1s linear infinite alternate;
    animation: upMove 1s linear infinite alternate;
    cursor: pointer;
    
  }
  
  