.about-wrapper {  
     display: flex;  
     justify-content: center;  
     align-items: center; 
     height: 100vh; 
     width: 100%;
     position: absolute;
     z-index: 500;
     background-color: aquamarine;
     
}
.about-text {   position: relative;   width: 30em;   height: 20em;
}
.show {   position: absolute;   left: -30em;   width: 30em;   height: 20em;   -webkit-animation: slide-in 1s forwards;   animation: slide-in 1s forwards;
}
.down-panel{
    position: absolute;
    bottom: 0;   
}
.up-panel{
    position: absolute;
    top:0;
    
}
@-webkit-keyframes slide-in {
 100% { left: 0 }
}
@keyframes slide-in {
 100% { left: 0 }
}