.home {   
    display: flex;  
    justify-content: center;  
    align-items: center;  
    width: 100%;
    background-color: salmon;
    height: 100vh; 
    position: absolute;
    z-index: 1500;


}

.home-text {   position: relative; 
             width: 30em;   
             height: 20em;
            
        
}
.rainbow{
    position: fixed;
  left:0;
 bottom:0;
 height: 30vh;


}

.down-panel{
position: absolute;
bottom: 0;   
}
.up-panel{
position: absolute;
top:0;
}
#cardItem{
   

   width: 100%;
   height: 100%;
    
}